@font-face{
    font-family: OpenSans;
    src: url(../fonts/open_sans.ttf);
}

body{
    margin:0;
    padding:0;
    //font-size: 13px;
    font-family: OpenSans;
    color:#437c59;
    background:no-repeat 100% 0;
}

.clear{
    clear: both;
}

.clear hr{
    width: 1220px;
}

.right{
    text-align: right;
}

#content{
    margin: 0 auto;
    width: 1250px;
}

#main_content{
    margin: 0 20px 0 25px;
}

#header{    
    width: 1250px;
    position: relative;
}

#header img{
    margin: 0 auto;
    width: 1220px;
}

#authorization{
    background-color: #437c59; 
    position: absolute;
    right: 20px;
    top: 62px;
    width: 238px;
    height: 45px;     
    border-radius: 5px 5px 5px 5px;
}

#authorization ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

#authorization ul li{
    float: left;   
}

#authorization a{   
    color: #ffffff;
    display: inline-block;       
    text-decoration: none;    
    font-size: 92%;
    line-height: 1.2;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.24);
}

#authorization a:hover{
    background-color: #a3150e;  
}

#authorization .auth{
    padding: 12px 27px 14px 33px;
    border-radius: 5px 0 0 5px;  
}

#authorization .reg{
    padding: 12px 26px 14px 26px;
    border-radius: 0 5px 5px 0;  
}

#left{
    padding: 0 4.5px;
    margin: 0 10px 0 0;
    width: 200px;
    min-height: 410px;
    background: url(../img/search.png) no-repeat;
    float: left;
    border-radius: 0 0 5px 5px;
}

#left form p{
    margin: 0 0 10px 8px;
}

#left h4{
    margin: 14px 5px 16px 10px;
    font-size: 18px;  
    line-height: 1.2;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-variant: small-caps;  
    text-align: left;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.24);
}

#left p .words{
    width: 177px;
    height: 30px;
    border-radius: 5px;
    border: 1px #ebebeb;
    margin: 0 0 -6px 0;
}

#left label{
    font-size: 84%;
    color: #7a7a7a;
}

#left .new-button-style input{
    border-radius: 0;
    background: transparent;    
    padding: 0;
    border: 0;
    font-size: 16px;
    line-height: 1;
    -webkit-appearance: none;
    width: 177px;
    height: 38px;
}

#left .new-button-style{
    overflow: hidden;
    height: 39px;
    background: url(../img/button-search.png);   
    width: 177px;
    margin: 0 0 0 8px;
}

#left .new-button-style:hover{
    overflow: hidden;
    height: 39px;
    background: url(../img/button-search_hover.png);   
    width: 177px;
    margin: 0 0 0 8px;
}

#right{
    padding: 0 15px;
    width: 208px;
    min-height: 500px;
    background-color: #f0f1f2;
    border-radius: 5px 5px 5px 5px;
    float: right;
}

#right table{
    margin: -15px auto;
}

#right .vk{
    background: url(../img/vk.png) no-repeat;
    display: block;
    margin: 25px 5px;
    height: 37px;
    width: 37px; 
}

#right .fb{
    background: url(../img/fb.png) no-repeat;
    display: block;
    margin: 25px 5px;
    height: 37px;
    width: 37px; 
}

#right .mailru{
    background: url(../img/mailru.png) no-repeat;
    display: block;
    margin: 25px 5px;
    height: 37px;
    width: 83px; 
}

#center{
    
    padding: 0 1px;    
}


#topmenu{
    background-color: #437c59; 
    width: 720px;
    height: 50px; 
    margin: 0px 0 0 218px;
    border-radius: 5px 5px 0 0;  
}

#topmenu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

#topmenu ul li{
    float: left;   
}

#topmenu a{   
    color: #ffffff;
    display: inline-block;    
    padding: 15.5px 21px 15.5px 24.5px;
    text-decoration: none;    
    font-size: 92%;
    line-height: 1.2;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.24);
}


#topmenu a:hover{
    background-color: #a3150e;  
}

#topmenu .masters{
    color: #ffffff;
    display: inline-block;    
    padding: 7.1px 22px 6.2px 22px;
    text-decoration: none;    
    font-size: 92%;
    line-height: 1.2;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.24);
}

#topmenu .about{
    border-radius: 5px 0 0 0;  
}

#topmenu .contacts{
    border-radius: 0 5px 0 0;  
}

#center h1{    
    color: #437c59;
    font-size: 35px;
    font-weight: bold;
    font-variant: small-caps;
    line-height: 1.2;
    margin: 55px 0 0 0;
}

hr{
    margin: 0;
}   

.banner{
    border: 1px solid #437c59;
    border-radius: 5px;
    margin: 10px auto 0;
    width: 180px;
}

#footer{
    width: 100%; 
    height: 30px; 
    text-align: right;
    margin: 15px 5px;
}

#footer span{   
    font-size: 89%;
    color: #000;
}

#pagination p{
    font-size: 110%;
    margin: 0;
    text-align: center;
}

#pagination a{
    display: inline-block;
    padding: 3px;
}

#reg table{
    margin: 0 auto;
}

.message{
    color: red;
    text-align: center;
}

#message p{
    text-align: center;
}

#container{
    margin: 0 0 0 8px;
}

#container select{    
    width: 173px;
}

#divarea{
    margin: 5px 0 0 0;
}

#divcity{
    margin: 5px 0 0 0;
}


#divcategory{
    margin: 5px 0 0 0;
}

#divproducts{
    margin: 5px 0 0 0;
}

#text {
    width: 940px;
    text-align: justify;
}

#text p{
    color: #000;
}

#text h2{
    color: #000;
}

#text img {
    float: left;
    width: 275px;
    height: 275px;
    margin: 5px 15px 5px 0;
    border-radius: 5px;
    border: 4px solid #a3150e;
}

#text table tr td img {
    float: left;
    width: 267px;
    height: 44px;
    margin: 5px 55px 5px 0;    
    border: none;
}

#text table{
    margin-left: 10px; 
    margin-bottom: 100px;
}

