body{
    margin:0;
    padding:0;
    font-size:13px;
    font-family:'arial','helvetica neue','nimbus sans l','freesans',sans-serif;
    color:#437c59;
    background:no-repeat 100% 0;
}

.clear{
    clear: both;
}

.clear hr{
    width: 980px;
}

.right{
    text-align: right;
}

#content{
    margin: 0 auto;
    width: 1000px;
}

#main_content{
    margin: 0 10px;
}

#header{    
    width: 800px;
    position: relative;
}

#header img{
    margin: 0 auto;
    width: 800px;
}

#authorization{
    background-color: #437c59; 
    position: absolute;
    right: -190px;
    top: 40px;
    width: 200px;
    height: 34px;     
    border-radius: 5px 5px 5px 5px;
}

#authorization ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

#authorization ul li{
    float: left;   
}

#authorization a{   
    color: #ffffff;
    display: inline-block;       
    text-decoration: none;    
    font-size: 81%;
}

#authorization a:hover{
    background-color: #a3150e;  
}

#authorization .auth{
    padding: 10px 23px 9px 25px;
    border-radius: 5px 0 0 5px;  
}

#authorization .reg{
    padding: 10px 25px 9px 37px;
    border-radius: 0 5px 5px 0;  
}

#left{
    padding: 0 10px;
    margin: 0 10px 0 0;
    width: 183px;
    min-height: 371px;
    background: url(../img/search.png) no-repeat;
    float: left;
    border-radius: 0 0 5px 5px;
}

#left h4{
    margin: 16px 5px;
    font-size: 18px;  
    color: rgb(255, 255, 255);
    font-weight: normal;
    font-variant: small-caps;  
    text-align: left;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.24);
}

#left p .words{
    width: 177px;
    height: 30px;
    border-radius: 5px;
    border: 1px #ebebeb;
    margin: 0 0 -6px 0;
}

#left label{
    font-size: 84%;
    color: #7a7a7a;
}

#left .new-button-style input{
    border-radius: 0;
    background: transparent;    
    padding: 0;
    border: 0;
    font-size: 16px;
    line-height: 1;
    -webkit-appearance: none;
    width: 177px;
    height: 32px;
}

#left .new-button-style{
    overflow: hidden;
    height: 39px;
    background: url(../img/button-search.png);   
    width: 177px;
    margin: 0 0 6px 0;
}

#left .new-button-style:hover{
    overflow: hidden;
    height: 39px;
    background: url(../img/button-search_hover.png);   
    width: 177px;
    margin: 0 0 6px 0;
}

#right{
    padding: 0 10px;
    width: 180px;
    min-height: 500px;
    background-color: #f0f1f2;
    border-radius: 5px 5px 5px 5px;
    float: right;
}

#right table{
    margin: -15px auto;
}

#right .vk{
    background: url(../img/vk.png) no-repeat;
    display: block;
    margin: 25px auto;
    height: 37px;
    width: 37px; 
}

#right .fb{
    background: url(../img/fb.png) no-repeat;
    display: block;
    margin: 25px auto;
    height: 37px;
    width: 37px; 
}

#right .mailru{
    background: url(../img/mailru.png) no-repeat;
    display: block;
    margin: 25px auto;
    height: 37px;
    width: 83px; 
}

#center{
    
    padding: 0 1px;    
}


#topmenu{
    background-color: #437c59; 
    width: 550px;
    height: 50px; 
    margin: 0 212px;
    border-radius: 5px 5px 0 0;  
}

#topmenu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

#topmenu ul li{
    float: left;   
}

#topmenu a{   
    color: #ffffff;
    display: inline-block;    
    padding: 17px 21.5px;
    text-decoration: none;    
    font-size: 88%;
}

#topmenu a:hover{
    background-color: #a3150e;  
}

#topmenu .masters{
    color: #ffffff;
    display: inline-block;    
    padding: 12px 10px 7px 10px;
    text-decoration: none;    
    font-size: 88%;
}

#topmenu .about{
    border-radius: 5px 0 0 0;  
}

#topmenu .contacts{
    border-radius: 0 5px 0 0;  
}

#center h1{    
    color: #437c59;
    font-size: 150%;
    font-weight: bold;
    margin: 55px 0 0 0;
}

hr{
    margin: 0;
}   

.banner{
    border: 1px solid #000;
    margin: 10px auto 0;
    width: 150px;
}

#footer{
    width: 100%; 
    height: 30px; 
    text-align: right;
    margin: 15px 5px;
}

#footer span{   
    font-size: 89%;
    color: #000;
}

#pagination p{
    font-size: 110%;
    margin: 0;
    text-align: center;
}

#pagination a{
    display: inline-block;
    padding: 3px;
}

#reg table{
    margin: 0 auto;
}

.message{
    color: red;
    text-align: center;
}

#message p{
    text-align: center;
}

#container p{
    vertical-align: 3px;
}

#container select{
    width: 173px;
}

#text {
    width: 765px;
    text-align: justify;
}

#text p{
    color: #000;
}

#text h2{
    color: #000;
}

#text img {
    float: left;
    width: 200px;
    height: 200px;
    margin: 5px 15px 5px 0;
    border-radius: 5px;
    border: 1px solid #437c59;
}

#text table tr td img {
    float: left;
    width: 237px;
    height: 44px;
    margin: 5px 15px 5px 0;
    border-radius: 5px;
    border: 1px solid #437c59;
}

#text table{
    margin-left: 10px; 
    margin-bottom: 100px;
}

